
/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, rgb(173, 173, 173), transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 3s linear infinite;
}

.fancy {
    --offset: 7px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    position: relative;
    height: 250px;
    width: 97.4%;
    width: auto;
    overflow: hidden;
    margin: 20px 20px 1px 20px;
    padding: 20px 20px 20px 20px;
}

/* Taking this out becuase trying to get this to function the same as the home pages. */
.fancy label{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    z-index: 10;
    margin-top: 30px;
    margin-right: 0%;
    margin-left: 42.1%;
    margin-bottom: 10px;
    text-align: center;
    width: auto;
}
.headerOne{
    color: gray;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    z-index: 10;
    margin-top: 100px;
    text-align: center;
}

/* Overlay */
.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}



    /* PC Sizing */
    @media screen and (max-width: 5000px) {
        .fancy {
            --offset: 7px;
            background: rgb(255, 255, 255);
            border-radius: 15px;
            position: relative;
            height: 250px;
            width: 97.4%;
            width: auto;
            overflow: hidden;
            margin: 20px 20px 1px 20px;
            padding: 20px 20px 20px 20px;
            box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
            margin-bottom: 8px;
        }

        .fancy label{
            color: rgb(0, 0, 0);
            font-size: 40px;
            font-weight: 600;
            z-index: 10;
            margin-top: 30px;
            text-align: center;
            width: auto;
        }
        .headerOne{
            color: gray;
            font-size: 30px;
            font-weight: 600;
            position: absolute;
            z-index: 10;
            margin-top: 100px;
            margin-left: 39%;
            position: center;
            text-align: center;
        }
      }

/* From here to line 195 is newly added for responsivness */
        /* Normal Screen Sizing */
        @media screen and (max-width: 2000px) {
            .fancy label{
                text-align: center;
            }
            .headerOne{
                text-align: center;
            }
          }


              /* Normal Screen Sizing */
              @media screen and (max-width: 1950px) {
                .fancy label{
                    text-align: center;
                }
                .headerOne{
                    text-align: center;
                }
              }

        /* Normal Screen Sizing */
        @media screen and (max-width: 1900px) {
            .fancy label{
                text-align: center;
            }
            .headerOne{
                text-align: center;
            }
          }

        /* Normal Screen Sizing */
        @media screen and (max-width: 1850px) {
            .fancy label{
                text-align: center;
            }
            .headerOne{
                text-align: center;
            }
          }


        /* Normal Screen Sizing */
        @media screen and (max-width: 1800px) {
            .fancy label{
                text-align: center;
            }
            .headerOne{
                text-align: center;
            }
          }

        /* Normal Screen Sizing */
        @media screen and (max-width: 1750px) {
            .fancy label{
                text-align: center;
            }
            .headerOne{
                text-align: center;
            }
          }


        /* Normal Screen Sizing */
        @media screen and (max-width: 1700px) {
            .fancy label{
                text-align: center;
            }
            .headerOne{
                text-align: center;
            }
          }


                  /* Normal Screen Sizing */
        @media screen and (max-width: 1650px) {
            .fancy label{
                text-align: center;
            }
            .headerOne{
                text-align: center;
            }
          }


        /* MAC Screen Sizing I CHANGED THIS ONE FOR MAC*/
  @media screen and (max-width: 1600px) {
    .fancy {
        --offset: 7px;
        background: rgb(255, 255, 255);
        border-radius: 15px;
        position: relative;
        height: 250px;
        width: auto;
        overflow: hidden;
        margin: 20px 20px 1px 20px;
        padding: 20px 20px 20px 20px;
    }
    .fancy label{
        color: black;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        z-index: 10;
    }
    .headerOne{
        color: gray;
        font-size: 30px;
        font-weight: 600; 
        z-index: 10;
        margin-top: 100px;
        margin-left: 37%;
        text-align: center;
    }
  }



      /* Smallest (Iphone) Monitor Sizing */
      @media screen and (max-width: 800px) {
        .fancy {
          width: 92%;
          height: 260px;
          display: block;
        }
        .fancy label{
            color: black;
            margin-left: 20.5%;
            margin-top: 10px;
            text-align: center;
        }
        .headerOne{
            margin: 65px 20px 0px 2px;
            text-align: center;
        }
      }


      /* Iphone Sizing */
@media screen and (max-width: 495px) {
    .fancy {
      width: 90%;
      height: 215px;
      display: block;
    }
    .fancy label{
        color: black;
        margin-left: 49px;
        margin-top: 10px;
        text-align: center;
    }
    .headerOne{
        margin: 50px 20px 0px 2px;
        text-align: center;
    }
  }