.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  font-family: sans-serif;
  bottom: 0;
}

.footer-basic ul {
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  padding-top: 400px;
  font-family: sans-serif;
  clear: both;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  font-family: sans-serif;
}

.footer-basic ul a:hover {
  opacity:1;
  font-family: sans-serif;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
  font-family: sans-serif;
  bottom: 0;
  clear: both;
  padding-left: 40px;
}

/* PC Sizing */
@media screen and (max-width: 5000px) {
  .footer-basic ul {
    padding-top: 400px;
    text-align: left;
    padding-left: 46.2%;
  }
  .footer-basic .copyright {
    text-align: left;
    padding-left: 48.3%;
  }
}


/* MAC Sizing */
@media screen and (max-width: 1600px) {
  .footer-basic ul {
    padding-top: 400px;
    text-align: left;
    padding-left: 45.5%;
  }
  .footer-basic .copyright {
    text-align: left;
    padding-left: 48.2%;
  }
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 800px) {
  .footer-basic ul {
    padding-top: 100px;
    text-align: left;
    padding-left: 28.5%;
  }
  .footer-basic .copyright {
    text-align: left;
    padding-left: 39%;
  }
}
