/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color:white;
  padding: 30px 10px;
  font-family: sans-serif;
  margin-top: 43px;
  box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
  /* transition: 0.5s; */
}

/* .header:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.534);
} */

/* Style the header links */
.header a {
  /* background-color: rgb(255, 150, 23); */
  background-color: rgb(25, 146, 251);
  color: white;
  /* background-color: rgb(50, 125, 255); */
  float: left;
  /* color: white; */
  text-align: right;
  margin-right: 12px;
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  font-family: sans-serif;
  border-radius: 40px;
  /* box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534); */
  transition: 0.25s;
}

/* Change the background color on mouse-over */
.header a:hover {
  /* background-color: rgb(255, 212, 104); */
  background-color: rgb(57, 162, 253);
  /* transform: scale(1.05); */
  cursor: pointer;
  /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.534); */
}

/* Float the link section to the right */
.header-left {
  float: left;
  padding-left: 12px;
}

.header-right {
  float: left;
  padding-left: 12px;
}


img[src="Logo/ODDO Logo (8).png"] {
    opacity: 1;
    border-radius: 0;
    box-shadow: none;
    transform: none;
    animation: none;
    float: left;
    height: 100%; 
    width: 7.8%; 
    object-fit: contain;
}

img:hover[src="Logo/ODDO Logo (8).png"] {
    opacity: 1;
    border-radius: 0;
    box-shadow: none;
    transform: none;
    animation: none;
}


/* Tablet view Moving header down to allow room for navbar to take over space */
@media screen and (max-width: 1200px){
  .header {
    width: 100%;
    margin-top: 85px;
  }
}

      /* Smallest (Iphone) Monitor Sizing */
      @media screen and (max-width: 800px) {
        .header {
          width: 100%;
          z-index: 50;
          margin-top: -110px;
          position: fixed;
        }
        .header a {
          /* width: 440px; */
          /* display: block; */
          text-align: center;
        }
      }

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header {
    width: 100%;
    z-index: 50;
    margin-top: -110px;
    position: fixed;
  }
  .header a {
    /* width: 345px; */
    /* display: block; */
    text-align: center;
    padding: 13px;

    margin-left: 4px;
    /* margin-left: 20px; */
    /* border: 2px rgb(25, 146, 251); */
    background-color: rgb(41, 216, 99);
  }
  .header-left {
  padding-left: -12px;
  margin-left: -10px;
}

.header-right {
  padding-left: -12px;
  margin-left: -15px;
}

img[src="Logo/ODDO Logo (8).png"] {
    width: 12%; 
}

}

