body {
  font-family: sans-serif;
  margin: 5;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: right;
  width: 29.8%;
  margin-bottom: -5px;
  padding: 0 6px;
}

.card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 15px;
}

.about-section {
  padding: 40px;
  text-align: center;
  background-color: #417478;
  color: white;
  width: 88.2%;
  float: right;
  border-radius: 15px;
  margin: 8px;
  padding: 40 10px;
}

.container {
  padding: 0 16px;
}

.test {
  padding-top: 18px;
  font-weight: bold;
  font-size: 23px;
  font-family: sans-serif;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  padding-bottom: 2px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  background-color: #ebebeb;
  color: #000000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #ffffff;
  color: #000;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
