body {
    font-family: sans-serif;
    margin: 5;
    /* background: linear-gradient(135deg, #cccce1 0%, hsl(173, 33%, 84%) 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-top: 10px;
    margin-bottom: -5px;
    margin-left: 0px;
    padding: 0 6px;
  }
  
  .card {
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border-radius: 40px;
    margin: 5px 10px 20px 10px;
    background-color: white;
    transition: 0.5s;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -100px;
  }
  
  @keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  
  /* .card:hover {
    transform: scale(1.004);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.534);
  } */
  
  iframe {
    border-radius: 40px 40px 0px 0px; 
    height: 300px;
    width: 100%;
    transition: 0.5s;
    /* box-shadow: 0 10px 10px 0 rgba(116, 116, 116, 0.534); */
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -100px;
  }
  
  @keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  /* iframe:hover {
    border-radius: 40px;
    transform: scale(1.02);
  } */
  
  img {
    border-radius: 40px 40px 0px 0px; 
    height: 300px;
    transition: 0.5s;
    /* box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534); */
    object-fit: cover;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -100px;
  }

  @keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  /* img:hover {
    border-radius: 40px;
    transform: scale(1.02);
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
  } */
  
  .container {
    text-align: center;
    padding: 20px;
    font-size: 22px;
  }
  
  .test {
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 15px;
  }
  
  .title {
    color: rgb(161, 161, 161);
    padding-bottom: 2px;
    font-size: 25px;
    font-weight: 500;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .button {
    font-size: 20px;
    font-weight: 500;
    outline: 0;
    display: inline-block;
    padding: 13px 20px 13px 20px;
    background-color: White;
    border:  rgb(25, 146, 251);
    /* border: 2px rgb(25, 146, 251); */
    color: rgb(25, 146, 251);
    /* color: rgb(25, 146, 251); */
    border-style: solid;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: sans-serif;
    transition: 0.25s;
    border-radius: 40px;
    margin-right: 12px;
  }
  
  .button:hover {
    background-color:  rgb(25, 146, 251);
    /* background-color: rgb(25, 146, 251); */
    color: white;
    /* transform: scale(1.025); */
    cursor: pointer;
  }

  #myBtn {
    font-family: sans-serif;
    font-weight: 500;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 40;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgb(25, 146, 251);
    /* background-color: rgb(25, 146, 251); */
    color: white;
    cursor: pointer;
    padding: 13px 20px 13px 20px;
    border-radius: 40px;
    transition: .25s;
    /* box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534); */
  }
  
  #myBtn:hover {
    background-color: rgb(57, 162, 253);
    /* background-color: rgb(57, 162, 253); */
    /* transform: scale(1.025); */
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.534); */
  }




  /* MAC Sizing */
  @media screen and (max-width: 1700px) {
    img {
      height: 250px;
    }
    iframe {
      height: 250px;
      width: 100%;
    }
  }



  /* Tablet Sizing */
@media screen and (max-width: 1000px) {
  /* Add media queries for responsivenes */
  .column {
    width: 50%;
    display: block;
  }
  .about-section {
    width: 91%;
    float: left;
  }
  img {
    height: 200px;
  }
  iframe {
    height: 200px;
    width: 100%;
  }
}


  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
      display: block;
    }
     #myBtn {
      padding: 13px;
      border: 2px rgb(25, 146, 251);
    }
     .button{
      padding: 10px;
    }
}
  
  
  
  
  
  
  
  
  
  
  
  