
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}

img[src="slideShowImages/skyDive.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/lasVegasStrip.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/capitalBuilding.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/whiteHouse.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/littleIsland.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/monument.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/falls.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/grandCanyon.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/PCBuild.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/fish.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/gaming.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/beach.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/kansasCity.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/iceRink.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 2100px; */
  width: auto;
  position: relative;
  float: center;
  margin-top: 110px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 18px 0px 18px;
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -100px;
}

@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {opacity: 0.5} 
  to {opacity: 1}
}

.fadeOut {
    animation-name: fadeOut;
    animation-delay: 2.5s;
    animation-duration: 4s;
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}


@media screen and (max-width: 500px) {
    .slideshow-container {
        width: 102%;
        margin-left: -4px;
        margin-top: 120px;
        /* was 110px */
    }
    .text {
        font-size: 13px;
        text-align: center;
        width:90%;
    }
    img[src="slideShowImages/PCBuild.png"]{
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/lasVegasStrip.png"] {
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/grandCanyon.png"]{
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/falls.png"] {
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/skyDive.png"]{
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/fish.png"] {
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/whiteHouse.png"]{
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/capitalBuilding.png"] {
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/monument.png"]{
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/littleIsland.png"] {
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/gaming.png"] {
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/beach.png"]{
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
  }
    img[src="slideShowImages/kansasCity.png"] {
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
  }
    img[src="slideShowImages/iceRink.png"] {
        height: 125px;
        border: 3px solid rgb(204, 204, 204);
  }
}

