* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 0;
}

.mySlides.active {
  opacity: 1;
  z-index: 1;
}

img {vertical-align: middle;}


img[src="slideShowImages/skyDive.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/lasVegasStrip.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/capitalBuilding.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/whiteHouse.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/littleIsland.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/monument.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/falls.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/grandCanyon.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/PCBuild.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/fish.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/gaming.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/beach.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/kansasCity.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

img[src="slideShowImages/iceRink.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    transform: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  z-index: 100;
}

.next {
  right: 15px;
  border-radius: 40px;
}

.prev:hover, .next:hover {
  background-color: rgba(65, 65, 65, 0.8);
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 2100px; */
  width: auto;
  position: relative;
  float: center;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 18px;
  padding: 0px 18px 300px 18px;
  /* overflow: hidden; */
  /* margin: auto; */
  /* animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -100px; */
}

/* @keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
} */


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  /* display: inline-block; */
  transition: background-color 0.6s ease;
}

/* .active {
  background-color: #717171;
} */


@media screen and (max-width: 500px) {
    .slideshow-container {
        margin-left: 15px;
        margin-top: 130px;
        padding-bottom: 130px;
    }
    .text {
        font-size: 13px;
        text-align: center;
        width:90%;
    }
    img[src="slideShowImages/PCBuild.png"]{
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/lasVegasStrip.png"] {
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/grandCanyon.png"]{
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/falls.png"] {
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/skyDive.png"]{
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/fish.png"] {
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/whiteHouse.png"]{
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/capitalBuilding.png"] {
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/monument.png"]{
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/littleIsland.png"] {
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/gaming.png"] {
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
    }
    img[src="slideShowImages/beach.png"]{
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
  }
    img[src="slideShowImages/kansasCity.png"] {
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
  }
    img[src="slideShowImages/iceRink.png"] {
        height: 130px;
        /* border: 3px solid rgb(204, 204, 204); */
  }
}

