
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}

img[src="slideShowImages/skyDive.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid #555;
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/lasVegasStrip.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/whiteHouse.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/littleIsland.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/monument.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid #555;
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/capitalBuilding"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid #555;
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/falls.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/grandCanyon.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid #555;
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/PCBuild.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/fish.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/gaming.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/beach.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/kansasCity.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid rgb(204, 204, 204);
}

img[src="slideShowImages/iceRink.png"] {
    animation: shake 0s;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px 10px 0 rgba(116, 116, 116, 0.534);
    border: 5px solid rgb(204, 204, 204);
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 2100px; */
  width: auto;
  position: relative;
  float: center;
  margin: auto;
  padding: 20px 20px 0px 20px;
}

/* Caption text */
/* .text {
  color: gray;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0px;
  position: absolute;
  width: 95.5%;
  text-align: center;
} */

/* Number text (1/3 etc) */
.numbertext {
  color: rgb(197, 197, 197);
  font-size: 12px;
  font-weight: 600;
  padding: 30px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fadeOut;
  animation-duration: 2s;
}

@keyframes fadeOut {
  from {opacity: 0.6} 
  to {opacity: 1}
}

@media screen and (max-width: 900px) {
    .text {
        font-size: 13px;
        text-align: center;
        width:90%;
    }
    img[src="slideShowImages/PCBuild.png"]{
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/lasVegasStrip.png"] {
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/grandCanyon.png"]{
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/falls.png"] {
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/skyDive.png"]{
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/fish.png"] {
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }

    img[src="slideShowImages/whiteHouse.png"]{
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/capitalBuilding.png"] {
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/monument.png"]{
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/littleIsland.png"] {
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }

    img[src="slideShowImages/gaming.png"] {
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
    }
    img[src="slideShowImages/beach.png"]{
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
  }
    img[src="slideShowImages/kansasCity.png"] {
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
  }
    img[src="slideShowImages/iceRink.png"] {
        height: 80px;
        border: 3px solid rgb(204, 204, 204);
  }
}

